{% include "eventservice/header.html" %}

<div id="eventservice">
    <b-navbar toggleable="sm" type="dark" variant="dark">
        <b-navbar-brand href="/" variant="light">EventService</b-navbar-brand>
    
        <b-navbar-nav class="ml-auto">
            {% if user.id %}
            <b-nav-item>{{user.username}}</b-nav-item>
            <b-nav-item href="logout"><b-icon icon="door-closed"></b-icon></b-nav-item>
            {% else %}
            <b-nav-item @click="openModal('log')">Войти</b-nav-item>
            <b-nav-item @click="openModal('reg')">Регистрация</b-nav-item>
            {% endif %}
        </b-navbar-nav>
    </b-navbar>
</div>

{% include "eventservice/table.html" %}

{% include "eventservice/login_modal.html" %}
{% include "eventservice/create_modal.html" %}

{% include "eventservice/footer.html" %}