<div>
    <b-modal id="login_modal" centered>
        <template v-slot:modal-title>
            <template v-if="type=='reg'">
                Форма регистрации
            </template>
            <template v-else>
                Форма входа
            </template>
        </template>
        <template v-slot:default>
            <b-form ref="reg" v-if="type=='reg'">
                <b-form-group
                    id="input-group-1"
                    label="Электронная почта:"
                    label-for="input-1"
                    description="Мы никогда не передадим вашу электронную почту кому-либо еще."
                >
                    <b-form-input
                        id="input-1"
                        v-model="reg.email"
                        type="email"
                        :state="validationEmail"
                        required
                        placeholder="Введите email"
                    ></b-form-input>
                </b-form-group>

                <b-form-group
                    id="input-group-2"
                    label="Username:"
                    label-for="input-2"
                    description="Ваш username должен состоять минимум из 5 символов и состоять только из латинского алфавита, цифр и знака подчёркивания!"
                >
                    <b-form-input
                        id="input-2"
                        v-model="reg.username"
                        type="text"
                        :state="validationUsername"
                        required
                        placeholder="Введите username"
                    ></b-form-input>
                </b-form-group>

                <b-form-group
                    id="input-group-3"
                    label="Пароль:"
                    label-for="input-3"
                    description="Ваш пароль должен состоять минимум из 8 символов!"
                >
                    <b-form-input
                        id="input-3"
                        v-model="reg.password"
                        type="password"
                        :state="validationPassword"
                        required
                        placeholder="Введите пароль"
                    ></b-form-input>
                </b-form-group>

                Уже eсть аккаунт? <b-button size="sm" variant="success" @click="swapSignup">Войти!</b-button>
            </b-form>
            <b-form ref="log" v-else>
                <b-form-group
                    id="input-group-4"
                    label="Username:"
                    label-for="input-4"
                >
                    <b-form-input
                        id="input-4"
                        v-model="log.username"
                        type="text"
                        :state="validationUsername"
                        required
                        placeholder="Введите username"
                    ></b-form-input>
                </b-form-group>

                <b-form-group
                    id="input-group-5"
                    label="Пароль:"
                    label-for="input-5"
                >
                    <b-form-input
                        id="input-5"
                        v-model="log.password"
                        type="password"
                        :state="validationPassword"
                        required
                        placeholder="Введите пароль"
                    ></b-form-input>
                </b-form-group>

                Нет аккаунта? <b-button size="sm" variant="success" @click="swapRegistration">Регистрация!</b-button>
            </b-form>
        </template>
        <template v-slot:modal-footer>
            <template v-if="type=='reg'">
                <b-button variant="success" @click="registration">
                    Зарегистрироваться
                </b-button>
            </template>
            <template v-else>
                <b-button variant="success" @click="signup">
                    Войти
                </b-button>
            </template>
        </template>
    </b-modal>
</div>